<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang="zxx"> <!--<![endif]-->

<!-- Mirrored from www.codezel.com/html/tailors-online/pants.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Feb 2019 19:48:13 GMT -->
<body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--************************************
        Wrapper Start
    *************************************-->
    <div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    <!--************************************
				Header Start
    *************************************-->  
    <%- include header.ejs %>
    <!--************************************
				Header End
    *************************************-->
    <!--************************************
				Inner Page Banner Start
		*************************************-->
		<div class="tg-innerpagebanner">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<ol class="tg-breadcrumb">
							<li><a href="#">Home</a></li>
							<li class="tg-active">about</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
				Inner Page Banner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout tg-paddingzero">
			<!--************************************
					Tailor Online Start
			*************************************-->
			<section class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="tg-shortcode tg-tailoronline">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tg-verticalmiddle">
								<div class="tg-shortcodetext">
									<div class="tg-heading">
										<h2>Hi! We’re Tailor Hub</h2>
									</div>
									<div class="tg-description">
										<p>Our main goal is to provides an online platform for customers who prefer custom tailored clothes by providing their measurement and style specification.</p>
										<p>The main objective of this project is To enable customer to customize their clothes like shirts and pants. Customers also select the fabric as per the brands and also see the nearest tailor shop. Customers can customizes a fabric, sleeve, collar, cuff, pocket, back details, button and button thread also.</p>
									</div>
									<div class="tg-btns">
										<a class="tg-btn" routerLink="/customizer" target="_blank">Start Customizing</a>
										<a class="tg-btn" routerLink="/howitwork">How It Work</a>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tg-verticalmiddle">
								<div class="tg-shortcodeimg tg-shortcodemultiimgs">
									<figure><img src="/images/s01.jpg" alt="image description"></figure>
									<figure><img src="/images/s02.jpg" alt="image description"></figure>
									<figure><img src="/images/img-03.jpg" alt="image description"></figure>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--************************************
					Tailor Online End
			*************************************-->
			<!--************************************
					Statastic Start
			*************************************-->
			<section class="tg-sectionspace tg-bglight tg-haslayout">
				<div class="container">
					<div class="row">
						<div id="tg-statastics" class="tg-shortcode tg-statastics">
							<div class="tg-statastic">
								<span class="tg-statasticicon"><i class="icon-Icon_11"></i></span>
								<h2><span data-from="0" data-to="598" data-speed="8000" data-refresh-interval="50">598</span></h2>
								<h3>Happy Customers</h3>
							</div>
							<div class="tg-statastic">
								<span class="tg-statasticicon"><i class="icon-Icon_19"></i></span>
								<h2><span data-from="0" data-to="1240" data-speed="8000" data-refresh-interval="50">1240</span></h2>
								<h3>Location Pinned</h3>
							</div>
							<div class="tg-statastic">
								<span class="tg-statasticicon"><i class="icon-Icon_08"></i></span>
								<h2><span data-from="0" data-to="2300" data-speed="8000" data-refresh-interval="50">2300</span></h2>
								<h3>Suits Sketched</h3>
							</div>
							<div class="tg-statastic">
								<span class="tg-statasticicon"><i class="icon-Icon_18"></i></span>
								<h2><span data-from="0" data-to="3650" data-speed="8000" data-refresh-interval="50">3650</span></h2>
								<h3>Good Relation Built</h3>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--************************************
					Statastic End
			*************************************-->
			<!--************************************
            our story start
        *************************************-->
        <section class="tg-sectionspace tg-haslayout">
          <div class="container">
            <div class="row">
              <div class="tg-shortcode tg-orderandemailsystem">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tg-verticalmiddle">
                  <div class="tg-shortcodeimg">
                    <figure><img src="/images/story.jpg" alt="image description"></figure>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tg-verticalmiddle">
                  <div class="tg-shortcodetext">
                    <div class="tg-heading">
                      <h2>Our Story</h2>
                    </div>
                    <div class="tg-description">
                      <p>Tailor Hub is founded in India in 2018-19 by two young entrepreneurs with an idea to sell custom tailored pants shirts online. With their knowledge of modern IT technology and design they started this website, sending measurements and orders to a local tailor in City. Since then the company has grown significantly and today owns and operates its own manufacturing with a focus on high quality and social responsibility.
                      </p>
                    </div>
                    <div class="tg-btns">
                      <!-- <a class="tg-btn" href="https://codecanyon.net/item/tailor-online-woocommerce-plugin-for-online-custom-tailoring/19812760" target="_blank">View Screenshots</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--************************************
            our story end
        *************************************-->
			<!--************************************
					Team Members Start
			*************************************-->
			<section class="tg-sectionspace tg-haslayout tg-bglight">
    		<div class="text-center">
    			<h2>Team Behind Tailor Hub</h2>
					<p class="tg-discription"> two young entrepreneurs with an idea to sell custom tailored dress shirts online. With their knowledge of modern IT technology and design they started this website</p>
    			<div class="row teamsetting ">
						
						<div class=" col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto ">
    					<figure class="figure">
    						<img src="/images/team/p12.jpg" class="figure-img img-fluid rounded-circle" height="200px" width="200px">
    					</figure>
    					<figcaption>
    						<h4>preet patel</h4>
    						<p class="figcaption">Angular Developer</p>
							</figcaption>
							<ul class="tg-socialicons" style="margin-left:140px;">
								<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
								<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
								<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
								<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
								<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
						
					<div class=" col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto" >
						<p class="tg-discription">Our Team Says From the first stitches to the last button there’s genuine work behind every single dress shirt we produce, with only you in mind.That’s why, since 2018, Tailor store has been dedicated to making tailored clothes in one size only – yours.

						</p>
					</div>
					
    				<div class=" col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto">
    					<figure class="figure">
    						<img src="/images/team/d12.jpeg" class="figure-img img-fluid rounded-circle" height="200px" width="200px">
    					</figure>
    					<figcaption>
    						<h4>dharmesh nayak</h4>
    						<p class="figcaption">Nodejs Developer</p>
							</figcaption>
							<ul class="tg-socialicons" style="margin-left:140px;">
								<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
								<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
								<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
								<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
								<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
						
    			</div>
    		</div>
    	</section>
							<!-- <div class="item">
								<div class="tg-member">
									<figure><a href="javascript:void(0);"><img src="assets/images/team/img-03.jpg" alt="image description"></a></figure>
									<div class="tg-membercontent">
										<div class="tg-membername">
											<h3><a href="javascript:void(0);">Benedict Duque</a></h3>
										</div>
										<div class="tg-memberdesignation">
											<h4><a href="javascript:void(0);">Manager, CEO</a></h4>
										</div>
										<ul class="tg-socialicons">
											<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
											<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
											<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
											<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
											<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="tg-member">
									<figure><a href="javascript:void(0);"><img src="assets/images/team/img-04.jpg" alt="image description"></a></figure>
									<div class="tg-membercontent">
										<div class="tg-membername">
											<h3><a href="javascript:void(0);">Benedict Duque</a></h3>
										</div>
										<div class="tg-memberdesignation">
											<h4><a href="javascript:void(0);">Manager, CEO</a></h4>
										</div>
										<ul class="tg-socialicons">
											<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
											<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
											<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
											<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
											<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="tg-member">
									<figure><a href="javascript:void(0);"><img src="assets/images/team/img-01.jpg" alt="image description"></a></figure>
									<div class="tg-membercontent">
										<div class="tg-membername">
											<h3><a href="javascript:void(0);">Benedict Duque</a></h3>
										</div>
										<div class="tg-memberdesignation">
											<h4><a href="javascript:void(0);">Manager, CEO</a></h4>
										</div>
										<ul class="tg-socialicons">
											<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
											<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
											<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
											<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
											<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="tg-member">
									<figure><a href="javascript:void(0);"><img src="assets/images/team/img-02.jpg" alt="image description"></a></figure>
									<div class="tg-membercontent">
										<div class="tg-membername">
											<h3><a href="javascript:void(0);">Benedict Duque</a></h3>
										</div>
										<div class="tg-memberdesignation">
											<h4><a href="javascript:void(0);">Manager, CEO</a></h4>
										</div>
										<ul class="tg-socialicons">
											<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
											<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
											<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
											<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
											<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="tg-member">
									<figure><a href="javascript:void(0);"><img src="assets/images/team/img-03.jpg" alt="image description"></a></figure>
									<div class="tg-membercontent">
										<div class="tg-membername">
											<h3><a href="javascript:void(0);">Benedict Duque</a></h3>
										</div>
										<div class="tg-memberdesignation">
											<h4><a href="javascript:void(0);">Manager, CEO</a></h4>
										</div>
										<ul class="tg-socialicons">
											<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
											<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
											<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
											<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
											<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="tg-member">
									<figure><a href="javascript:void(0);"><img src="assets/images/team/img-04.jpg" alt="image description"></a></figure>
									<div class="tg-membercontent">
										<div class="tg-membername">
											<h3><a href="javascript:void(0);">Benedict Duque</a></h3>
										</div>
										<div class="tg-memberdesignation">
											<h4><a href="javascript:void(0);">Manager, CEO</a></h4>
										</div>
										<ul class="tg-socialicons">
											<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
											<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
											<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
											<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
											<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="tg-member">
									<figure><a href="javascript:void(0);"><img src="assets/images/team/img-01.jpg" alt="image description"></a></figure>
									<div class="tg-membercontent">
										<div class="tg-membername">
											<h3><a href="javascript:void(0);">Benedict Duque</a></h3>
										</div>
										<div class="tg-memberdesignation">
											<h4><a href="javascript:void(0);">Manager, CEO</a></h4>
										</div>
										<ul class="tg-socialicons">
											<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
											<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
											<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
											<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
											<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="tg-member">
									<figure><a href="javascript:void(0);"><img src="assets/images/team/img-02.jpg" alt="image description"></a></figure>
									<div class="tg-membercontent">
										<div class="tg-membername">
											<h3><a href="javascript:void(0);">Benedict Duque</a></h3>
										</div>
										<div class="tg-memberdesignation">
											<h4><a href="javascript:void(0);">Manager, CEO</a></h4>
										</div>
										<ul class="tg-socialicons">
											<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
											<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
											<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
											<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
											<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="tg-member">
									<figure><a href="javascript:void(0);"><img src="assets/images/team/img-03.jpg" alt="image description"></a></figure>
									<div class="tg-membercontent">
										<div class="tg-membername">
											<h3><a href="javascript:void(0);">Benedict Duque</a></h3>
										</div>
										<div class="tg-memberdesignation">
											<h4><a href="javascript:void(0);">Manager, CEO</a></h4>
										</div>
										<ul class="tg-socialicons">
											<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
											<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
											<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
											<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
											<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="tg-member">
									<figure><a href="javascript:void(0);"><img src="assets/images/team/img-04.jpg" alt="image description"></a></figure>
									<div class="tg-membercontent">
										<div class="tg-membername">
											<h3><a href="javascript:void(0);">Benedict Duque</a></h3>
										</div>
										<div class="tg-memberdesignation">
											<h4><a href="javascript:void(0);">Manager, CEO</a></h4>
										</div>
										<ul class="tg-socialicons">
											<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
											<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
											<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
											<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
											<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="tg-member">
									<figure><a href="javascript:void(0);"><img src="assets/images/team/img-01.jpg" alt="image description"></a></figure>
									<div class="tg-membercontent">
										<div class="tg-membername">
											<h3><a href="javascript:void(0);">Benedict Duque</a></h3>
										</div>
										<div class="tg-memberdesignation">
											<h4><a href="javascript:void(0);">Manager, CEO</a></h4>
										</div>
										<ul class="tg-socialicons">
											<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
											<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
											<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
											<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
											<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="tg-member">
									<figure><a href="javascript:void(0);"><img src="assets/images/team/img-02.jpg" alt="image description"></a></figure>
									<div class="tg-membercontent">
										<div class="tg-membername">
											<h3><a href="javascript:void(0);">Benedict Duque</a></h3>
										</div>
										<div class="tg-memberdesignation">
											<h4><a href="javascript:void(0);">Manager, CEO</a></h4>
										</div>
										<ul class="tg-socialicons">
											<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
											<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
											<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
											<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
											<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="tg-member">
									<figure><a href="javascript:void(0);"><img src="assets/images/team/img-03.jpg" alt="image description"></a></figure>
									<div class="tg-membercontent">
										<div class="tg-membername">
											<h3><a href="javascript:void(0);">Benedict Duque</a></h3>
										</div>
										<div class="tg-memberdesignation">
											<h4><a href="javascript:void(0);">Manager, CEO</a></h4>
										</div>
										<ul class="tg-socialicons">
											<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
											<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
											<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
											<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
											<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="tg-member">
									<figure><a href="javascript:void(0);"><img src="assets/images/team/img-04.jpg" alt="image description"></a></figure>
									<div class="tg-membercontent">
										<div class="tg-membername">
											<h3><a href="javascript:void(0);">Benedict Duque</a></h3>
										</div>
										<div class="tg-memberdesignation">
											<h4><a href="javascript:void(0);">Manager, CEO</a></h4>
										</div>
										<ul class="tg-socialicons">
											<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
											<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
											<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
											<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
											<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
							</div> -->
						<!-- </div>
					</div>
				</div>
			</section> -->
			<!--************************************
					Team Members End
			*************************************-->
			<!--************************************
					Newsletter Start
			*************************************-->
			<!-- <section class="tg-sectionspace tg-bglight tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<form class="tg-themeform tg-formnewsletter">
								<fieldset>
									<div class="tg-formtitle">
										<h3><span>Get Latest Updates &amp; Info</span>Signup For Newsletter!</h3>
									</div>
									<div class="form-group">
										<input type="email" class="form-control" name="email" placeholder="Enter Your Email Here">
										<button type="button" class="tg-btn">Signup Now</button>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</section> -->
			<!--************************************
					Newsletter End
			*************************************-->
			<!--************************************
					Trusted Start
			*************************************-->
			<section class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
							<div class="tg-sectionhead">
								<div class="tg-heading">
									<h2>Trusted By Many</h2>
								</div>
								<div class="tg-description">
									<p>Wherever you are, whatever you’re doing, look and feel your very best in perfect-fit clothes made only for you by Tailor Hub. Whether you’re seeking an elegant dress shirt for a formal occasion, or simply relaxing with friends in style, you can entrust us to deliver superior bespoke garments, perfect-fit guaranteed. For too long standard sizes have crushed self-confidence and squeezed people into flawed templates that never truly fit. At Tailor Hub, we believe everyone has the right to look and feel incredible.</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-13">
							<ul class="tg-brands">
								<li class="tg-brand"><figure><a href="javascript:void(0);"><img src="/images/brands/img-01.png" alt="image description"></a></figure></li>
								<li class="tg-brand"><figure><a href="javascript:void(0);"><img src="/images/brands/img-02.png" alt="image description"></a></figure></li>
								<li class="tg-brand"><figure><a href="javascript:void(0);"><img src="/images/brands/img-03.png" alt="image description"></a></figure></li>
								<li class="tg-brand"><figure><a href="javascript:void(0);"><img src="/images/brands/img-04.png" alt="image description"></a></figure></li>
								<!-- <li class="tg-brand"><figure><a href="javascript:void(0);"><img src="assets/images/brands/img-05.png" alt="image description"></a></figure></li>
								<li class="tg-brand"><figure><a href="javascript:void(0);"><img src="assets/images/brands/img-06.png" alt="image description"></a></figure></li>
								<li class="tg-brand"><figure><a href="javascript:void(0);"><img src="assets/images/brands/img-07.png" alt="image description"></a></figure></li>
								<li class="tg-brand"><figure><a href="javascript:void(0);"><img src="assets/images/brands/img-08.png" alt="image description"></a></figure></li> -->
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!--************************************
					Trusted End
			*************************************-->
		</main>
		<!--************************************
				Main End
		*************************************-->
		<!--************************************
				Footer Start
    *************************************-->
    <%- include footer.ejs %>
    <!--************************************
				Footer End
    *************************************-->
  </div>
	<!--************************************
			Wrapper End
  *************************************-->
</body>

<!-- Mirrored from www.codezel.com/html/tailors-online/shirt.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Feb 2019 19:48:05 GMT -->
</html>
    
