<!doctype html>
<!--[if (gt IE 9)|!(IE)]><html lang="en"><![endif]-->
<html lang="en-US">

<!-- Mirrored from www.codezel.com/tailors-online/customizer/?pid=64 by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Feb 2019 06:07:41 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

  <!-- Customizer page head start --------------------------------------------------------------->
  <link rel='stylesheet' id='tailors_online_public-css'  href='/wp-content/plugins/tailors-online/public/css/alteration-public3c94.css?ver=2.1.0' type='text/css' media='all' />

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.html">
<link rel="profile" href="http://gmpg.org/xfn/11">
<link rel="pingback" href="../xmlrpc.html">
<title>Customizer &#8211; Tailors Online</title>
<link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
<link rel='dns-prefetch' href='http://s.w.org/' />
<link rel="alternate" type="application/rss+xml" title="Tailors Online &raquo; Feed" href="../feed/index.html" />
<link rel="alternate" type="application/rss+xml" title="Tailors Online &raquo; Comments Feed" href="../comments/feed/index.html" />
  <script type="text/javascript">
      window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/www.codezel.com\/tailors-online\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.0.3"}};
      !function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
  </script>
  <style type="text/css">
img.wp-smiley,
img.emoji {
/* display: inline !important; */
border: none !important;
box-shadow: none !important;
height: 1em !important;
width: 1em !important;
margin: 0 .07em !important;
vertical-align: -0.1em !important;
background: none !important;
padding: 0 !important;
}
</style> 
<link rel='stylesheet' id='wp-block-library-css'  href='/wp-includes/css/dist/block-library/style.minaead.css?ver=5.0.3' type='text/css' media='all' />
<!-- <link rel='stylesheet' id='tailors_online_public-css'  href='assets/wp-content/plugins/tailors-online/public/css/alteration-public3c94.css?ver=2.1.0' type='text/css' media='all' /> -->

<style id='tailors_online_public-inline-css' type='text/css'>

      .cus-btn,
      .tg-steps ul li.tg-active a,
      .tg-customizeordernav li.cus-active a,
      .tg-btnround:hover,
      .tg-btnround:hover,
      .tg-suitstyle label:hover span,
      .tg-suitstyle input[type="radio"]:checked + label span,
      .success,
      #confirmBox h1,
      #confirmBox .button:before,
      .cus-modal-header,
      .tg-btn.update_settings,
      .customizer-loader > div,
      input[type="submit"].cus-btn, 
      .cus-btn,
      input[type="submit"].cus-btn:hover, 
      .cus-btn:hover,
      .tg-btn:before
      {background:#57c778}


      .tg-customcontent .tg-radio label:hover figure,
      .tg-suitstyle label:hover span:before, 
      .tg-suitstyle input[type="radio"]:checked + label span:before, 
      .tg-customcontent .tg-radio:hover label figure:before, 
      .tg-customcontent .tg-radio input[type="radio"]:checked + label figure:before,
      .tg-customizeordernav li.cus-active a:before,
      .tg-customizeordernav li.cus-active a:after,
      .tg-btnround:hover, .tg-btnround:hover,
      .tg-customcontent .tg-radio input[type=radio]:checked + label figure, 
      .tg-customcontent .tg-radio label:hover figure,
      #confirmBox .button
      {border-color:#57c778}

      .tg-btn
      {border-color:#57c778 !important}

      .tg-suitstyle label:hover span:before, 
      .tg-suitstyle input[type="radio"]:checked + label span:before, 
      .tg-customcontent .tg-radio:hover label figure:before, 
      .tg-customcontent .tg-radio input[type="radio"]:checked + label figure:before,
      .tg-customizeordernav li a span:before,
      .tg-steps ul li a:after
      {color:#57c778}

      .input[type="submit"].cus-btn:hover, 
      .cus-btn:hover{background: rgba(29, 33, 30, 0.79);}

  
</style>
<!-- <link rel='stylesheet' id='font-awesome.min-css'  href='assets/wp-content/plugins/tailors-online/public/css/font-awesome.min3c94.css?ver=2.1.0' type='text/css' media='all' />
<link rel='stylesheet' id='icomoon-css'  href='assets/wp-content/plugins/tailors-online/public/css/icomoon3c94.css?ver=2.1.0' type='text/css' media='all' />
<link rel='stylesheet' id='responsive-css'  href='assets/wp-content/plugins/tailors-online/public/css/responsive3c94.css?ver=2.1.0' type='text/css' media='all' />
<link rel='stylesheet' id='transitions-css'  href='assets/wp-content/plugins/tailors-online/public/css/transitions3c94.css?ver=2.1.0' type='text/css' media='all' /> -->
<style id='woocommerce-inline-inline-css' type='text/css'>
.woocommerce form .form-row .required { visibility: visible; }
</style>
<link rel='stylesheet' id='gym_default_google_fonts-css'  href='http://fonts.googleapis.com/css?family=Open%2BSans%3A300%2C400%2C600%2C700%2C800%7COswald%3A400%2C700&amp;subset=latin%2Clatin-ext' type='text/css' media='all' />
<link rel='stylesheet' id='tailors_online_typo-css'  href='/wp-content/themes/tailors-online/css/typoaead.css?ver=5.0.3' type='text/css' media='all' />
<style id='tailors_online_typo-inline-css' type='text/css'>
  
  
</style>
<link rel='stylesheet' id='fw-ext-breadcrumbs-add-css-css'  href='/wp-content/themes/tailors-online/framework-customizations/extensions/breadcrumbs/static/css/styleaead.css?ver=5.0.3' type='text/css' media='all' />
<!-- <link rel='stylesheet' id='fw-ext-builder-frontend-grid-css'  href='assets/wp-content/plugins/unyson/framework/extensions/builder/static/css/frontend-grida09d.css?ver=1.2.11' type='text/css' media='all' /> -->
<link rel='stylesheet' id='fw-ext-forms-default-styles-css'  href='/wp-content/plugins/unyson/framework/extensions/forms/static/css/frontend87b5.css?ver=2.7.22' type='text/css' media='all' />
<!-- <link rel='stylesheet' id='bootstrap-css'  href='assets/wp-content/themes/tailors-online/css/bootstrap.min5152.css?ver=1.0' type='text/css' media='all' /> -->
<link rel='stylesheet' id='tailors_online_woocommerce_styling-css'  href='/wp-content/themes/tailors-online/css/woocommerceaead.css?ver=5.0.3' type='text/css' media='all' />
<!-- <link rel='stylesheet' id='tailors_online_normalize-css'  href='assets/wp-content/themes/tailors-online/css/normalize5152.css?ver=1.0' type='text/css' media='all' /> -->
<link rel='stylesheet' id='font-awesome-css'  href='/wp-content/plugins/unyson/framework/static/libs/font-awesome/css/font-awesome.min87b5.css?ver=2.7.22' type='text/css' media='all' />
<!-- <link rel='stylesheet' id='owl.carousel-css'  href='assets/wp-content/themes/tailors-online/css/owl.carousel5152.css?ver=1.0' type='text/css' media='all' /> -->
<link rel='stylesheet' id='owl.theme.default-css'  href='/wp-content/themes/tailors-online/css/owl.theme.default5152.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='flipster-css'  href='/wp-content/themes/tailors-online/css/jquery.flipster5152.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='tailors_online_transitions-css'  href='/wp-content/themes/tailors-online/css/transitions5152.css?ver=1.0' type='text/css' media='all' />
<!-- <link rel='stylesheet' id='tailors_online_styles-css'  href='assets/wp-content/themes/tailors-online/style5152.css?ver=1.0' type='text/css' media='all' /> -->
<link rel='stylesheet' id='tailors_online_color-css'  href='/wp-content/themes/tailors-online/css/color5152.css?ver=1.0' type='text/css' media='all' />
<!-- <link rel='stylesheet' id='tailors_online_responsive-css'  href='assets/wp-content/themes/tailors-online/css/responsive5152.css?ver=1.0' type='text/css' media='all' /> -->
<script type='text/javascript' src='/wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
<script type='text/javascript' src='/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
<script type='text/javascript' src='/wp-content/plugins/tailors-online/public/js/vendor/modernizr-2.8.3-respond-1.4.2.min3c94.js?ver=2.1.0'></script>
<script type='text/javascript' src='/wp-content/plugins/tailors-online/public/js/sticky-kit3c94.js?ver=2.1.0'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wp_localize_tailors = {"ajaxurl":"http:\/\/www.codezel.com\/tailors-online\/wp-admin\/admin-ajax.php","confirm_garment_title":"Process order?","force_measurement":"","force_measurement_message":"Please add measurements before process this order.","confirm_garment_message":"Are you sure you want to process this order?"};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/tailors-online/public/js/main3c94.js?ver=2.1.0'></script>
<script type='text/javascript' src='/wp-content/themes/tailors-online/js/jquery.flipster.min5152.js?ver=1.0'></script>
<script type='text/javascript' src='/wp-content/themes/tailors-online/js/owl.carousel.min5152.js?ver=1.0'></script>
<script type='text/javascript' src='/wp-content/plugins/unyson/framework/static/js/fw-form-helpersaead.js?ver=5.0.3'></script>
<link rel='https://api.w.org/' href='/wp-json/index.html' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="../xmlrpc0db0.html?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 5.0.3" />
<meta name="generator" content="WooCommerce 3.5.4" />
<link rel="canonical" href="index.html" />
<link rel='shortlink' href='../index0735.html?p=18' />
<link rel="alternate" type="application/json+oembed" href="/wp-json/oembed/1.0/embed139d.json?url=http%3A%2F%2Fwww.codezel.com%2Ftailors-online%2Fcustomizer%2F" />
<link rel="alternate" type="text/xml+oembed" href="/wp-json/oembed/1.0/embed152a?url=http%3A%2F%2Fwww.codezel.com%2Ftailors-online%2Fcustomizer%2F&amp;format=xml" />
<noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
      <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
  
          <!-- Customizer page head end --------------------------------------------------------->

</head>
	
<body class="page-template-default page page-id-18 vc_not_used subheader-disabled customizer-tailors-online woocommerce-no-js">
         
  
  <!--[if lt IE 9]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
            <div id="tg-wrapper" class="tg-wrapper tg-haslayout">
              <!--header start-->
              <%- include header.ejs %>
              <!--header end-->

              <div class="tg-innerpagebanner">
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                             <ol class="tg-breadcrumb">
                                                        <li class="first-item">
                                    <a href="#">Homepage</a></li>
                                      <li class="last-item">Cart</li>
                                        </ol>
                    </div>
                  </div>
                </div>
              </div>
              
                    <main id="tg-main" class="tg-main tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="main-page-wrapper tg-haslayout exclude-sidebar"><div class="woocommerce"><div class="woocommerce-notices-wrapper"></div>
        <form class="woocommerce-cart-form" action="" method="post">
          
          <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents" cellspacing="0">
            <thead>
              <tr>
                <!-- <th class="product-remove">&nbsp;</th> -->
                <th class="product-thumbnail">&nbsp;</th>
                <th class="product-name">Product</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-subtotal">Total</th>
              </tr>
            </thead>
            <tbody>
              
                        <!-- <tr class="woocommerce-cart-form__cart-item cart_item"> -->
        
                    <!-- <td class="product-remove">
                      <a href="http://www.codezel.com/tailors-online/cart/?remove_item=d8eb617cea2f3f0f335e33d0011e56aa&#038;_wpnonce=81072ee530" class="remove" aria-label="Remove this item" data-product_id="121" data-product_sku="CD-2568549-1-1-1-1">&times;</a>						</td> -->
        
                    <!-- <td class="product-thumbnail">
                    <a href="http://www.codezel.com/tailors-online/product/premium-italian-blazer/">
                      <img width="80" height="80" src="/wp-content/uploads/2017/04/img-06.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="assets/wp-content/uploads/2017/04/blazers-9.jpg 288w, assets/tailors-online/wp-content/uploads/2017/04/blazers-9-228x300.jpg 228w" sizes="(max-width: 228px) 100vw, 228px" /></a>						</td>
        
                    <td class="product-name" data-title="Product">
                          <div class="cart-item-detail">
                <span class="cart-item-name"><a href="/product/premium-italian-blazer/">Premium Italian Blazer</a></span>
                      </div>
                          </td>
        
                    <td class="product-price" data-title="Price">
                      <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span>328.00</span>						</td>
        
                    <td class="product-quantity" data-title="Quantity">
                    1 <input type="hidden" name="cart[d8eb617cea2f3f0f335e33d0011e56aa][qty]" value="1" />						</td>
        
                    <td class="product-subtotal" data-title="Total">
                      <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span>328.00</span>						</td>
                  </tr> -->
                            <tr class="woocommerce-cart-form__cart-item cart_item">
        
                    <!-- <td class="product-remove">
                      <a href="http://www.codezel.com/tailors-online/cart/?remove_item=115a59d60fb07ddfa667cb47941dcd78&#038;_wpnonce=81072ee530" class="remove" aria-label="Remove this item" data-product_id="65" data-product_sku="CD-2568549-4">&times;</a>						</td> -->
        
                    <td class="product-thumbnail">
                    <a href="http://www.codezel.com/tailors-online/product/check-suite/">
                      <img width="80" height="80" src="/wp-content/uploads/2017/04/img-06.jpg" class="assets/wp-content/uploads/2017/04/img-06.jpg 288w, assets/wp-content/uploads/2017/04/img-06-228x300.jpg 228w" sizes="(max-width: 228px) 100vw, 228px" /></a>						</td>
        
                    <td class="product-name" data-title="Product">
                          <div class="cart-item-detail">
                <span class="cart-item-name"><a href="/product/check-suite/">Check Suite</a></span>
                      </div>
                          </td>
        
                    <td class="product-price" data-title="Price">
                      <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span>328.00</span>						</td>
        
                    <td class="product-quantity" data-title="Quantity">
                    1 <input type="hidden" name="cart[115a59d60fb07ddfa667cb47941dcd78][qty]" value="1" />						</td>
        
                    <td class="product-subtotal" data-title="Total">
                      <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span>328.00</span>						</td>
                  </tr>
                            <tr class="woocommerce-cart-form__cart-item cart_item">
        
                    <!-- <td class="product-remove">
                      <a href="http://www.codezel.com/tailors-online/cart/?remove_item=0d58b397cb5cba7c6d0c9c42fe5c0110&#038;_wpnonce=81072ee530" class="remove" aria-label="Remove this item" data-product_id="321" data-product_sku="CD-2568549-1-1-1-1">&times;</a>						</td> -->
        
                    <td class="product-thumbnail">
                    <a href="http://www.codezel.com/tailors-online/product/half-white/">
                      <img width="80" height="80" src="/wp-content/uploads/2017/04/shirts-8.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="http://www.codezel.com/tailors-online/wp-content/uploads/2017/04/shirts-8.jpg 288w, http://www.codezel.com/tailors-online/wp-content/uploads/2017/04/shirts-8-228x300.jpg 228w" sizes="(max-width: 228px) 100vw, 228px" /></a>						</td>
        
                    <td class="product-name" data-title="Product">
                          <div class="cart-item-detail">
                <span class="cart-item-name"><a href="http://www.codezel.com/tailors-online/product/half-white/">Half White Chinos</a></span>
                      </div>
                          </td>
        
                    <td class="product-price" data-title="Price">
                      <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span>328.00</span>						</td>
        
                    <td class="product-quantity" data-title="Quantity">
                    1 <input type="hidden" name="cart[0d58b397cb5cba7c6d0c9c42fe5c0110][qty]" value="1" />						</td>
        
                    <td class="product-subtotal" data-title="Total">
                      <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span>328.00</span>						</td>
                  </tr>
                  
              
              <tr>
                <td colspan="6" class="actions">
        
                              <div class="coupon">
                      <label for="coupon_code">Coupon:</label> <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Coupon code" /> <button type="submit" class="button" name="apply_coupon" value="Apply coupon">Apply coupon</button>
                                  </div>
                  
                  <button type="submit" class="button" name="update_cart" value="Update cart">Update cart</button>
        
                  
                  <input type="hidden" id="woocommerce-cart-nonce" name="woocommerce-cart-nonce" value="81072ee530" /><input type="hidden" name="_wp_http_referer" value="/tailors-online/cart/" />				</td>
              </tr>
        
                  </tbody>
          </table>
          </form>
        
        <div class="cart-collaterals">
          <div class="cart_totals ">
        
          
          <h2>Cart totals</h2>
        
          <table cellspacing="0" class="shop_table shop_table_responsive">
        
            <tr class="cart-subtotal">
              <th>Subtotal</th>
              <td data-title="Subtotal"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span>984.00</span></td>
            </tr>
        
            
            
            
            
            
            <tr class="order-total">
              <th>Total</th>
              <td data-title="Total"><strong><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span>984.00</span></strong> </td>
            </tr>
        
            
          </table>
        
          <div class="wc-proceed-to-checkout">
            
        <a href="" class="checkout-button button alt wc-forward">
          Proceed to checkout</a>
          </div>
        
          
        </div>
        </div>
        
        </div>
        </div>            </div>
                </div>
                      </main>

                      <%- include footer.ejs %>
			
                    </div>
                      
              </body>
              <!-- Mirrored from www.codezel.com/tailors-online/customizer/?pid=64 by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Feb 2019 06:07:41 GMT -->
              </html>    
        
        