<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang="zxx"> <!--<![endif]-->

<!-- Mirrored from www.codezel.com/html/tailors-online/pants.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Feb 2019 19:48:13 GMT -->
<body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--************************************
        Wrapper Start
    *************************************-->
    <div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    <!--************************************
				Header Start
    *************************************-->  
    <%- include header.ejs %>
    <!--************************************
				Header End
    *************************************-->
    <!--************************************
				Inner Page Banner Start
		*************************************-->
		<div class="tg-innerpagebanner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <ol class="tg-breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="tg-active">contact us</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!--************************************
          Inner Page Banner End
      *************************************-->
      <!--************************************
          Main Start
      *************************************-->
      <main id="tg-main" class="tg-main tg-haslayout tg-paddingzero">
        <!--************************************
            Tailor Online Start
        *************************************-->
        <section class="tg-sectionspace tg-haslayout">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
                <div class="tg-sectionhead">
                  <div class="tg-heading">
                    <h2>Customers Service</h2>
                  </div>
                  <div class="tg-description">
                    <p>If you should have any questions regarding our products, terms, delivery time order or the like, please check our FAQs first. If you should not find an answer there and in case you should have specific questions concerning your customer account or current order for example, please do not hesitate to use the contact form below to get in touch with our customer service. Please note, that in order to get a reply, you have to provide a valid email address.</p>
                  </div>
                </div>
              </div>
              <div class="tg-shortcode tg-tailoronline">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div id="tg-locationmap" class="tg-locationmap"></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                  <form class="tg-themeform tg-formcontactus">
                    <fieldset>
                      <div class="form-group">
                        <input type="text" class="form-control" name="yourname" placeholder="Your Name">
                      </div>
                      <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" name="phone" placeholder="Phone">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" name="subject" placeholder="Subject">
                      </div>
                      <div class="form-group">
                        <textarea name="message" placeholder="Message"></textarea>
                      </div>
                      <button type="submit" class="tg-btn">send now</button>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--************************************
            Tailor Online End
        *************************************-->
        <!--************************************
            Newsletter Start
        *************************************-->
        <!-- <section class="tg-sectionspace tg-bglight tg-haslayout">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form class="tg-themeform tg-formnewsletter">
                  <fieldset>
                    <div class="tg-formtitle">
                      <h3><span>Get Latest Updates &amp; Info</span>Signup For Newsletter!</h3>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" placeholder="Enter Your Email Here">
                      <button type="button" class="tg-btn">Signup Now</button>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </section> -->
        <!--************************************
            Newsletter End
        *************************************-->
        <!--************************************
            Trusted Start
        *************************************-->
        <!-- <section class="tg-sectionspace tg-bglight tg-haslayout">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
                <div class="tg-sectionhead">
                  <div class="tg-heading">
                    <h2>Trusted By Many</h2>
                  </div>
                  <div class="tg-description">
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etaiate dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-13">
                <ul class="tg-brands">
                  <li class="tg-brand"><figure><a href="javascript:void(0);"><img src="assets/images/brands/img-01.png" alt="image description"></a></figure></li>
                  <li class="tg-brand"><figure><a href="javascript:void(0);"><img src="assets/images/brands/img-02.png" alt="image description"></a></figure></li>
                  <li class="tg-brand"><figure><a href="javascript:void(0);"><img src="assets/images/brands/img-03.png" alt="image description"></a></figure></li>
                  <li class="tg-brand"><figure><a href="javascript:void(0);"><img src="assets/images/brands/img-04.png" alt="image description"></a></figure></li>
                  <li class="tg-brand"><figure><a href="javascript:void(0);"><img src="assets/images/brands/img-05.png" alt="image description"></a></figure></li>
                  <li class="tg-brand"><figure><a href="javascript:void(0);"><img src="assets/images/brands/img-06.png" alt="image description"></a></figure></li>
                  <li class="tg-brand"><figure><a href="javascript:void(0);"><img src="assets/images/brands/img-07.png" alt="image description"></a></figure></li>
                  <li class="tg-brand"><figure><a href="javascript:void(0);"><img src="assets/images/brands/img-08.png" alt="image description"></a></figure></li>
                </ul>
              </div>
            </div>
          </div>
        </section> -->
        <!--************************************
            Trusted End
        *************************************-->
      </main>
      <!--************************************
          Main End
      *************************************-->
      	<!--************************************
				Footer Start
		*************************************-->
        <%- include footer.ejs %>
        <!--************************************
				Footer End
    *************************************-->
  </div>
	<!--************************************
			Wrapper End
  *************************************-->
</body>

<!-- Mirrored from www.codezel.com/html/tailors-online/shirt.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Feb 2019 19:48:05 GMT -->
</html>
    