<!--************************************
				Footer Start
		*************************************-->
		<footer id="tg-footer" class="tg-footer tg-footervtwo tg-bglight tg-haslayout">
			<div class="tg-newsletter">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<form class="tg-themeform tg-formnewsletter">
								<fieldset>
									<div class="tg-formtitle">
										<h3><span>Get Latest Updates &amp; Info</span>Signup For Newsletter!</h3>
									</div>
									<div class="form-group">
										<input type="email" class="form-control" name="email" placeholder="Enter Your Email Here">
										<button type="button" class="tg-btn">Signup Now</button>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="tg-footerbar">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<ul class="tg-socialicons">
								<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
								<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
								<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
								<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
								<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
							</ul>
							<span class="tg-copyright">2018-19 All Rights Reserved © Tailor Hub</span>
							<strong class="tg-logo"><a href="javascript:void(0);"><img src="/images/logo3.png" alt="image description"></a></strong>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--************************************
				Footer End
		*************************************-->