<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang="zxx"> <!--<![endif]-->

<!-- Mirrored from www.codezel.com/html/tailors-online/pants.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Feb 2019 19:48:13 GMT -->
<body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--************************************
        Wrapper Start
    *************************************-->
    <div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    <!--************************************
				Header Start
    *************************************-->  
    <%- include header.ejs %>
    <!--************************************
				Header End
    *************************************-->
    <!--************************************
				Inner Page Banner Start
		*************************************-->
		<div class="tg-innerpagebanner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <ol class="tg-breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="tg-active">How It Works</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!--************************************
          Inner Page Banner End
      *************************************-->
  
      <!--************************************
          Main Start
      *************************************-->
      <main id="tg-main" class="tg-main tg-haslayout">
        <div class="container">
          <div class="row">
            <div id="tg-content" class="tg-content">
              <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
                <div class="tg-sectionhead">
                  <div class="tg-heading">
                    <h2>How Tailor Hub Works</h2>
                  </div>
                  <div class="tg-description">
                    <p>The main objective of this project is To enable customer to customize their clothes like shirts and pants. Customers also select the fabric as per the brands and also see the nearest tailor shop. Customers can customizes a fabric, sleeve, collar, cuff, pocket, back details, button and button thread also.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-worksteps">
                  <div class="tg-workstep">
                    <div class="row no-gutters">
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-left">
                        <div class="tg-videobox">
                          <img src="/images/howitwork/img-01.jpg" alt="image description">
                          <iframe src="/images/f2.jpg" style="width: 500px;height: 300px;"></iframe>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
                        <div class="tg-stepcontent">
                          <h3>01. Select Readymade Clothes</h3>
                          <div class="tg-description">
                            <p>Customer can select shirts and pants that can be pre customized by the another customers and our tailors.</p>
                          </div>
                          <div class="dropdown">
                              <button class="dropbtn">Readymade Clothes</button>
                              <div class="dropdown-content">
                                <a href="/shirts">Shirts</a>
                                <a href="/pants">Pants</a>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tg-workstep">
                    <div class="row no-gutters">
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
                        <div class="tg-videobox">
                          <img src="/images/howitwork/img-01.jpg" alt="image description">
                          <iframe src="/images/f4.jpg" style="width: 500px;height: 300px;"></iframe>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-left">
                        <div class="tg-stepcontent">
                          <h3>02. Customize clothes</h3>
                          <div class="tg-description">
                            <p>To enable customer to customize their clothes like shirts and pants. Customers also select the fabric as per the brands and also see the nearest tailor shop. Customers can customizes a fabric, sleeve, collar, cuff, pocket, back details, button and button thread also.</p>
                          </div>
                          <div class="dropdown">
                              <button class="dropbtn">Customize Clothes</button>
                              <div class="dropdown-content">
                                <a href="/shirtcustomizer">Shirts</a>
                                <a href="/pantcustomizer">Pants</a>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tg-workstep">
                    <div class="row no-gutters">
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-left">
                        <div class="tg-videobox">
                          <img src="/images/howitwork/img-01.jpg" alt="image description">
                          <iframe src="/images/f5.jpg" style="width: 500px;height: 300px;"></iframe>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
                        <div class="tg-stepcontent">
                          <h3>03. Provide measurement</h3>
                          <div class="tg-description">
                            <p>If the customer know their measurement detail(like L,M,XL,XXL sizes) that can be acceptable.

                              Otherwise Tailor can also provide the measurement facility to the customer at the home(only in 20KM around area) if the customer don’t aware about his measurement</p>
                          </div>
                          <div class="dropdown">
                              <button class="dropbtn" routerLink="">Measurement</button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tg-workstep">
                    <div class="row no-gutters">
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
                        <div class="tg-videobox">
                          <img src="/images/howitwork/img-01.jpg" alt="image description">
                          <iframe src="/images/f6.jpg" style="width: 500px;height: 300px;"></iframe>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-left">
                        <div class="tg-stepcontent">
                          <h3>04. Place order and get order at doorstep</h3>
                          <div class="tg-description">
                            <p>After Customer can place order by providing their basic detail and place the order by pay payments online or selecting cash on delivery.within a week customer can get their order at doorstep </p>
                          </div>
                          <div class="dropdown">
                              <button class="dropbtn" routerLink="">Place order</button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!--************************************
          Main End
      *************************************-->
      <!--************************************
				Footer Start
    *************************************-->
    <%- include footer.ejs %>
    <!--************************************
				Footer End
    *************************************-->
  </div>
	<!--************************************
			Wrapper End
  *************************************-->
</body>

<!-- Mirrored from www.codezel.com/html/tailors-online/shirt.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Feb 2019 19:48:05 GMT -->
</html>
