<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang="zxx"> <!--<![endif]-->

<!-- Mirrored from www.codezel.com/html/tailors-online/pants.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Feb 2019 19:48:13 GMT -->
<body>

        <script src="/js/vendor/jquery-library.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>
        <!-- <script src="https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&amp;language=en"></script> -->
        <script src="/js/jquery.flipster.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/pogoslider.js"></script>
        <script src="/js/jquery-ui.js"></script>
        <script src="/js/countTo.js"></script>
        <script src="/js/appear.js"></script>
        <script src="/js/gmap3.js"></script>
      <script src="/js/main.js"></script>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--************************************
        Wrapper Start
    *************************************-->
    <div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    <!--************************************
				Header Start
    *************************************-->  
    <%- include header.ejs %>
    <!--************************************
				Header End
		*************************************-->
		<!--************************************
				Inner Page Banner Start
		*************************************-->
    <div class="tg-innerpagebanner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <ol class="tg-breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="tg-active">pents</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!--************************************
          Inner Page Banner End
      *************************************-->
      <!--************************************
          Main Start
      *************************************-->
      <main id="tg-main" class="tg-main tg-haslayout">
        <div class="container">
          <div class="row">
            <div id="tg-twocolumns" class="tg-twocolumns">
              <div class="col-xs-12 col-sm-8 col-md-7 col-lg-9 pull-right">
                <div class="row">
                  <div id="tg-content" class="tg-content">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="tg-pagehead">
                        <h2>Pants Collections</h2>
                        <div class="tg-description">
                          <p>All of the pants that can be pre customized by the another customers and our tailors can be displayed here.All of the collection must be unique from other.and user also customize this collection based on their requirements.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tg-products tg-productgrid">
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="tg-product">
                          <figure class="tg-productimg">
                            <img src="/images/pents/img-01.jpg" alt="image description">
                            <figcaption>
                              <div class="tg-hoverimglink">
                                <img src="/images/products/img-10.png" alt="image description">
                                <a href="/pantcustomizer">
                                  <span>Customize Now</span>
                                  <i class="fa fa-angle-right"></i>
                                </a>
                                <a href="#">
                                  <span>Add to cart</span>
                                  <i class="fa fa-angle-right"></i>
                                </a>
                              </div>
                            </figcaption>
                          </figure>
                          <div class="tg-productcontent">
                            <div class="tg-producttitle">
                              <h3><a href="shopdetail.html">Jeans</a></h3>
                            </div>
                            <div class="tg-rating">
                              <span class="tg-stars"><span></span></span>
                            </div>
                            <div class="tg-price">
                              <h4><a href="javascript:void(0);">330₹</a></h4>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="tg-product">
                          <figure class="tg-productimg">
                            <img src="/images/pents/img-02.jpg" alt="image description">
                            <figcaption>
                              <div class="tg-hoverimglink">
                                <img src="/images/products/img-10.png" alt="image description">
                                <a href="/pantcustomizer">
                                  <span>Customize Now</span>
                                  <i class="fa fa-angle-right"></i>
                                </a>
                                <a href="#">
                                  <span>Add to cart</span>
                                  <i class="fa fa-angle-right"></i>
                                </a>
                              </div>
                            </figcaption>
                          </figure>
                          <div class="tg-productcontent">
                            <div class="tg-producttitle">
                              <h3><a href="shopdetail.html">Denim</a></h3>
                            </div>
                            <div class="tg-rating">
                              <span class="tg-stars"><span></span></span>
                            </div>
                            <div class="tg-price">
                              <h4><a href="javascript:void(0);">330₹</a></h4>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="tg-product">
                          <figure class="tg-productimg">
                            <img src="/images/pents/img-03.jpg" alt="image description">
                            <figcaption>
                              <div class="tg-hoverimglink">
                                <img src="/images/products/img-10.png" alt="image description">
                                <a href="/pantcustomizer">
                                  <span>Customize Now</span>
                                  <i class="fa fa-angle-right"></i>
                                </a>
                                <a href="#">
                                  <span>Add to cart</span>
                                  <i class="fa fa-angle-right"></i>
                                </a>
                              </div>
                            </figcaption>
                          </figure>
                          <div class="tg-productcontent">
                            <div class="tg-producttitle">
                              <h3><a href="shopdetail.html">Corduroy</a></h3>
                            </div>
                            <div class="tg-rating">
                              <span class="tg-stars"><span></span></span>
                            </div>
                            <div class="tg-price">
                              <h4><a href="javascript:void(0);">330₹</a></h4>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="tg-product">
                          <figure class="tg-productimg">
                            <img src="/images/pents/img-04.jpg" alt="image description">
                            <figcaption>
                              <div class="tg-hoverimglink">
                                <img src="/images/products/img-10.png" alt="image description">
                                <a href="/pantcustomizer">
                                  <span>Customize Now</span>
                                  <i class="fa fa-angle-right"></i>
                                </a>
                                <a href="#">
                                  <span>Add to cart</span>
                                  <i class="fa fa-angle-right"></i>
                                </a>
                              </div>
                            </figcaption>
                          </figure>
                          <div class="tg-productcontent">
                            <div class="tg-producttitle">
                              <h3><a href="shopdetail.html">Velvet</a></h3>
                            </div>
                            <div class="tg-rating">
                              <span class="tg-stars"><span></span></span>
                            </div>
                            <div class="tg-price">
                              <h4><a href="javascript:void(0);">330₹</a></h4>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="tg-product">
                          <figure class="tg-productimg">
                            <img src="/images/pents/img-05.jpg" alt="image description">
                            <figcaption>
                              <div class="tg-hoverimglink">
                                <img src="/images/products/img-10.png" alt="image description">
                                <a href="/pantcustomizer">
                                  <span>Customize Now</span>
                                  <i class="fa fa-angle-right"></i>
                                </a>
                                <a href="#">
                                  <span>Add to cart</span>
                                  <i class="fa fa-angle-right"></i>
                                </a>
                              </div>
                            </figcaption>
                          </figure>
                          <div class="tg-productcontent">
                            <div class="tg-producttitle">
                              <h3><a href="shopdetail.html">Polar Fleece</a></h3>
                            </div>
                            <div class="tg-rating">
                              <span class="tg-stars"><span></span></span>
                            </div>
                            <div class="tg-price">
                              <h4><a href="javascript:void(0);">330₹</a></h4>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="tg-product">
                          <figure class="tg-productimg">
                            <img src="/images/pents/img-06.jpg" alt="image description">
                            <figcaption>
                              <div class="tg-hoverimglink">
                                <img src="/images/products/img-10.png" alt="image description">
                                <a href="/pantcustomizer">
                                  <span>Customize Now</span>
                                  <i class="fa fa-angle-right"></i>
                                </a>
                                <a href="#">
                                  <span>Add to cart</span>
                                  <i class="fa fa-angle-right"></i>
                                </a>
                              </div>
                            </figcaption>
                          </figure>
                          <div class="tg-productcontent">
                            <div class="tg-producttitle">
                              <h3><a href="shopdetail.html">Tweed</a></h3>
                            </div>
                            <div class="tg-rating">
                              <span class="tg-stars"><span></span></span>
                            </div>
                            <div class="tg-price">
                              <h4><a href="javascript:void(0);">330₹</a></h4>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="tg-product">
                          <figure class="tg-productimg">
                            <img src="/images/pents/img-07.jpg" alt="image description">
                            <figcaption>
                              <div class="tg-hoverimglink">
                                <img src="/images/products/img-10.png" alt="image description">
                                <a href="/pantcustomizer">
                                  <span>Customize Now</span>
                                  <i class="fa fa-angle-right"></i>
                                </a>
                                <a href="#">
                                  <span>Add to cart</span>
                                  <i class="fa fa-angle-right"></i>
                                </a>
                              </div>
                            </figcaption>
                          </figure>
                          <div class="tg-productcontent">
                            <div class="tg-producttitle">
                              <h3><a href="shopdetail.html">Khaki</a></h3>
                            </div>
                            <div class="tg-rating">
                              <span class="tg-stars"><span></span></span>
                            </div>
                            <div class="tg-price">
                              <h4><a href="javascript:void(0);">330₹</a></h4>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="tg-product">
                          <figure class="tg-productimg">
                            <img src="/images/pents/img-08.jpg" alt="image description">
                            <figcaption>
                              <div class="tg-hoverimglink">
                                <img src="/images/products/img-10.png" alt="image description">
                                <a href="/pantcustomizer">
                                  <span>Customize Now</span>
                                  <i class="fa fa-angle-right"></i>
                                </a>
                                <a href="#">
                                  <span>Add to cart</span>
                                  <i class="fa fa-angle-right"></i>
                                </a>
                              </div>
                            </figcaption>
                          </figure>
                          <div class="tg-productcontent">
                            <div class="tg-producttitle">
                              <h3><a href="shopdetail.html">Madras</a></h3>
                            </div>
                            <div class="tg-rating">
                              <span class="tg-stars"><span></span></span>
                            </div>
                            <div class="tg-price">
                              <h4><a href="javascript:void(0);">330₹</a></h4>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="tg-product">
                          <figure class="tg-productimg">
                            <img src="/images/pents/img-09.jpg" alt="image description">
                            <figcaption>
                              <div class="tg-hoverimglink">
                                <img src="/images/products/img-10.png" alt="image description">
                                <a href="/pantcustomizer">
                                  <span>Customize Now</span>
                                  <i class="fa fa-angle-right"></i>
                                </a>
                                <a href="#">
                                  <span>Add to cart</span>
                                  <i class="fa fa-angle-right"></i>
                                </a>
                              </div>
                            </figcaption>
                          </figure>
                          <div class="tg-productcontent">
                            <div class="tg-producttitle">
                              <h3><a href="shopdetail.html">Terry Cloth</a></h3>
                            </div>
                            <div class="tg-rating">
                              <span class="tg-stars"><span></span></span>
                            </div>
                            <div class="tg-price">
                              <h4><a href="javascript:void(0);">330₹</a></h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <nav class="tg-pagination">
                        <ul>
                          <li class="tg-prevpage"><a href="/shirts"><i class="fa fa-angle-left"></i></a></li>
                          <li class="tg-active"><a href="/shirts">1</a></li>
                          <li><a href="/shirts">2</a></li>
                          <li><a href="/shirts">3</a></li>
                          <li><a href="/shirts">4</a></li>
                          <li ><a href="/shirts">5</a></li>
                          <li>...</li>
                          <li><a href="/shirts">10</a></li>
                          <li class="tg-nextpage"><a href="/shirts"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-5 col-lg-3 pull-left">
                <aside id="tg-sidebar" class="tg-sidebar">
                  <form class="tg-themeform tg-formrefinesearch">
                    <fieldset>
                      <h4>Fabric</h4>
                      <span class="tg-radio">
                        <input type="radio" id="allfabric" name="fabric" value="All" checked>
                        <label for="allfabric">
                          <span>All</span>
                          <span>(25)</span>
                        </label>
                      </span>
                      <!-- <span class="tg-radio">
                        <input type="radio" id="basketweave" name="fabric" value="Basket weave">
                        <label for="basketweave">
                          <span>Basket weave</span>
                          <span>(521)</span>
                        </label>
                      </span>
                      <span class="tg-radio">
                        <input type="radio" id="batik" name="fabric" value="Batik">
                        <label for="batik">
                          <span>Batik</span>
                          <span>(314)</span>
                        </label>
                      </span>
                      <span class="tg-radio">
                        <input type="radio" id="bedfordcord" name="fabric" value="Bedford cord">
                        <label for="bedfordcord">
                          <span>Bedford cord</span>
                          <span>(65)</span>
                        </label>
                      </span>
                      <span class="tg-radio">
                        <input type="radio" id="broadcloth" name="fabric" value="Broadcloth">
                        <label for="broadcloth">
                          <span>Broadcloth</span>
                          <span>(127)</span>
                        </label>
                      </span>
                      <span class="tg-radio">
                        <input type="radio" id="canvas" name="fabric" value="Canvas">
                        <label for="canvas">
                          <span>Canvas</span>
                          <span>(621)</span>
                        </label>
                      </span> -->
                    </fieldset>
                    <fieldset>
                      <h4>Color</h4>
                      <span class="tg-checkbox">
                        <input type="checkbox" id="allcolor" name="availability" value="Any" checked>
                        <label for="allcolor">
                          <span>All</span>
                          <span>(25)</span>
                        </label>
                      </span>
                      <!-- <span class="tg-checkbox">
                        <input type="checkbox" id="charcoal" name="availability" value="Charcoal">
                        <label for="charcoal">
                          <span>Charcoal</span>
                          <span>(521)</span>
                        </label>
                      </span>
                      <span class="tg-checkbox">
                        <input type="checkbox" id="cream" name="availability" value="Cream">
                        <label for="cream">
                          <span>Cream</span>
                          <span>(314)</span>
                        </label>
                      </span>
                      <span class="tg-checkbox">
                        <input type="checkbox" id="navy" name="availability" value="Navy">
                        <label for="navy">
                          <span>Navy</span>
                          <span>(65)</span>
                        </label>
                      </span>
                      <span class="tg-checkbox">
                        <input type="checkbox" id="blue" name="availability" value="Blue">
                        <label for="blue">
                          <span>Blue</span>
                          <span>(127)</span>
                        </label>
                      </span> -->
                    </fieldset>
                    <!-- <fieldset>
                      <h4>Price</h4>
                      <div class="tg-amountbox">
                        <span>Price Range: </span>
                        <input type="text" id="tg-consultationfeeamount" readonly>
                      </div>
                      <div class="tg-padding"><div id="tg-consultationfeerangeslider" class="tg-consultationfeerangeslider tg-themerangeslider"></div></div>
                    </fieldset> -->
                    <fieldset>
                      <h4>Brand</h4>
                      <span class="tg-checkbox">
                        <input type="checkbox" id="allbrands" name="brand" value="all" checked>
                        <label for="allbrands">
                          <span>All</span>
                          <span>(25)</span>
                        </label>
                      </span>
                      <!-- <span class="tg-checkbox">
                        <input type="checkbox" id="male" name="brand" value="consectetur">
                        <label for="male">
                          <span>Consectetur</span>
                          <span>(521)</span>
                        </label>
                      </span>
                      <span class="tg-checkbox">
                        <input type="checkbox" id="adipiscivelit" name="brand" value="Adipisci Velit">
                        <label for="adipiscivelit">
                          <span>Adipisci Velit</span>
                          <span>(314)</span>
                        </label>
                      </span>
                      <span class="tg-checkbox">
                        <input type="checkbox" id="numquameiusmodi" name="brand" value="Numquam Eius Modi">
                        <label for="numquameiusmodi">
                          <span>Numquam Eius Modi</span>
                          <span>(65)</span>
                        </label>
                      </span>
                      <span class="tg-checkbox">
                        <input type="checkbox" id="temporaincidunt" name="brand" value="Tempora Incidunt">
                        <label for="temporaincidunt">
                          <span>Tempora Incidunt</span>
                          <span>(127)</span>
                        </label>
                      </span>
                      <span class="tg-checkbox">
                        <input type="checkbox" id="laboreetdolore" name="brand" value="Labore Et Dolore">
                        <label for="laboreetdolore">
                          <span>Labore Et Dolore</span>
                          <span>(621)</span>
                        </label>
                      </span> -->
                    </fieldset>
                  </form>
                  <div class="tg-advertisement">
                    <a href="javascript:void(0);"><img src="/images/adds/img-01.jpg" alt="image description"></a>
                  </div>
                </aside>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!--************************************
          Main End
      *************************************-->
      <!--************************************
				Footer Start
    *************************************-->
    <%- include footer.ejs %>
    <!--************************************
				Footer End
    *************************************-->
  </div>
	<!--************************************
			Wrapper End
  *************************************-->
</body>

<!-- Mirrored from www.codezel.com/html/tailors-online/shirt.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Feb 2019 19:48:05 GMT -->
</html>