<!doctype html>
<!--[if (gt IE 9)|!(IE)]><html lang="en"><![endif]-->
<html lang="en-US">

<!-- Mirrored from www.codezel.com/tailors-online/customizer/?pid=64 by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Feb 2019 06:07:41 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
	<!-- Customizer page head start --------------------------------------------------------------->
    <link rel='stylesheet' id='tailors_online_public-css'  href='/wp-content/plugins/tailors-online/public/css/alteration-public3c94.css?ver=2.1.0' type='text/css' media='all' />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.html">
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <link rel="pingback" href="../xmlrpc.html">
  <title>Customizer &#8211; Tailors Online</title>
  <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
  <link rel='dns-prefetch' href='http://s.w.org/' />
  <link rel="alternate" type="application/rss+xml" title="Tailors Online &raquo; Feed" href="../feed/index.html" />
  <link rel="alternate" type="application/rss+xml" title="Tailors Online &raquo; Comments Feed" href="../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/www.codezel.com\/tailors-online\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.0.3"}};
        !function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
  img.wp-smiley,
  img.emoji {
  /* display: inline !important; */
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
  }
  </style> 
  <link rel='stylesheet' id='wp-block-library-css'  href='/wp-includes/css/dist/block-library/style.minaead.css?ver=5.0.3' type='text/css' media='all' />
  <!-- <link rel='stylesheet' id='tailors_online_public-css'  href='assets/wp-content/plugins/tailors-online/public/css/alteration-public3c94.css?ver=2.1.0' type='text/css' media='all' /> -->
  
  <style id='tailors_online_public-inline-css' type='text/css'>
  
        .cus-btn,
        .tg-steps ul li.tg-active a,
        .tg-customizeordernav li.cus-active a,
        .tg-btnround:hover,
        .tg-btnround:hover,
        .tg-suitstyle label:hover span,
        .tg-suitstyle input[type="radio"]:checked + label span,
        .success,
        #confirmBox h1,
        #confirmBox .button:before,
        .cus-modal-header,
        .tg-btn.update_settings,
        .customizer-loader > div,
        input[type="submit"].cus-btn, 
        .cus-btn,
        input[type="submit"].cus-btn:hover, 
        .cus-btn:hover,
        .tg-btn:before
        {background:#57c778}
  
  
        .tg-customcontent .tg-radio label:hover figure,
        .tg-suitstyle label:hover span:before, 
        .tg-suitstyle input[type="radio"]:checked + label span:before, 
        .tg-customcontent .tg-radio:hover label figure:before, 
        .tg-customcontent .tg-radio input[type="radio"]:checked + label figure:before,
        .tg-customizeordernav li.cus-active a:before,
        .tg-customizeordernav li.cus-active a:after,
        .tg-btnround:hover, .tg-btnround:hover,
        .tg-customcontent .tg-radio input[type=radio]:checked + label figure, 
        .tg-customcontent .tg-radio label:hover figure,
        #confirmBox .button
        {border-color:#57c778}
  
        .tg-btn
        {border-color:#57c778 !important}
  
        .tg-suitstyle label:hover span:before, 
        .tg-suitstyle input[type="radio"]:checked + label span:before, 
        .tg-customcontent .tg-radio:hover label figure:before, 
        .tg-customcontent .tg-radio input[type="radio"]:checked + label figure:before,
        .tg-customizeordernav li a span:before,
        .tg-steps ul li a:after
        {color:#57c778}
  
        .input[type="submit"].cus-btn:hover, 
        .cus-btn:hover{background: rgba(29, 33, 30, 0.79);}
  
    
  </style>
  <!-- <link rel='stylesheet' id='font-awesome.min-css'  href='assets/wp-content/plugins/tailors-online/public/css/font-awesome.min3c94.css?ver=2.1.0' type='text/css' media='all' />
  <link rel='stylesheet' id='icomoon-css'  href='assets/wp-content/plugins/tailors-online/public/css/icomoon3c94.css?ver=2.1.0' type='text/css' media='all' />
  <link rel='stylesheet' id='responsive-css'  href='assets/wp-content/plugins/tailors-online/public/css/responsive3c94.css?ver=2.1.0' type='text/css' media='all' />
  <link rel='stylesheet' id='transitions-css'  href='assets/wp-content/plugins/tailors-online/public/css/transitions3c94.css?ver=2.1.0' type='text/css' media='all' /> -->
  <style id='woocommerce-inline-inline-css' type='text/css'>
  .woocommerce form .form-row .required { visibility: visible; }
  </style>
  <link rel='stylesheet' id='gym_default_google_fonts-css'  href='http://fonts.googleapis.com/css?family=Open%2BSans%3A300%2C400%2C600%2C700%2C800%7COswald%3A400%2C700&amp;subset=latin%2Clatin-ext' type='text/css' media='all' />
  <link rel='stylesheet' id='tailors_online_typo-css'  href='/wp-content/themes/tailors-online/css/typoaead.css?ver=5.0.3' type='text/css' media='all' />
  <style id='tailors_online_typo-inline-css' type='text/css'>
    
    
  </style>
  <link rel='stylesheet' id='fw-ext-breadcrumbs-add-css-css'  href='/wp-content/themes/tailors-online/framework-customizations/extensions/breadcrumbs/static/css/styleaead.css?ver=5.0.3' type='text/css' media='all' />
  <!-- <link rel='stylesheet' id='fw-ext-builder-frontend-grid-css'  href='assets/wp-content/plugins/unyson/framework/extensions/builder/static/css/frontend-grida09d.css?ver=1.2.11' type='text/css' media='all' /> -->
  <link rel='stylesheet' id='fw-ext-forms-default-styles-css'  href='/wp-content/plugins/unyson/framework/extensions/forms/static/css/frontend87b5.css?ver=2.7.22' type='text/css' media='all' />
  <!-- <link rel='stylesheet' id='bootstrap-css'  href='assets/wp-content/themes/tailors-online/css/bootstrap.min5152.css?ver=1.0' type='text/css' media='all' /> -->
  <link rel='stylesheet' id='tailors_online_woocommerce_styling-css'  href='/wp-content/themes/tailors-online/css/woocommerceaead.css?ver=5.0.3' type='text/css' media='all' />
  <!-- <link rel='stylesheet' id='tailors_online_normalize-css'  href='assets/wp-content/themes/tailors-online/css/normalize5152.css?ver=1.0' type='text/css' media='all' /> -->
  <link rel='stylesheet' id='font-awesome-css'  href='/wp-content/plugins/unyson/framework/static/libs/font-awesome/css/font-awesome.min87b5.css?ver=2.7.22' type='text/css' media='all' />
  <!-- <link rel='stylesheet' id='owl.carousel-css'  href='assets/wp-content/themes/tailors-online/css/owl.carousel5152.css?ver=1.0' type='text/css' media='all' /> -->
  <link rel='stylesheet' id='owl.theme.default-css'  href='/wp-content/themes/tailors-online/css/owl.theme.default5152.css?ver=1.0' type='text/css' media='all' />
  <link rel='stylesheet' id='flipster-css'  href='/wp-content/themes/tailors-online/css/jquery.flipster5152.css?ver=1.0' type='text/css' media='all' />
  <link rel='stylesheet' id='tailors_online_transitions-css'  href='/wp-content/themes/tailors-online/css/transitions5152.css?ver=1.0' type='text/css' media='all' />
  <!-- <link rel='stylesheet' id='tailors_online_styles-css'  href='assets/wp-content/themes/tailors-online/style5152.css?ver=1.0' type='text/css' media='all' /> -->
  <link rel='stylesheet' id='tailors_online_color-css'  href='/wp-content/themes/tailors-online/css/color5152.css?ver=1.0' type='text/css' media='all' />
  <!-- <link rel='stylesheet' id='tailors_online_responsive-css'  href='assets/wp-content/themes/tailors-online/css/responsive5152.css?ver=1.0' type='text/css' media='all' /> -->
  <script type='text/javascript' src='/wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
  <script type='text/javascript' src='/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
  <script type='text/javascript' src='/wp-content/plugins/tailors-online/public/js/vendor/modernizr-2.8.3-respond-1.4.2.min3c94.js?ver=2.1.0'></script>
  <script type='text/javascript' src='/wp-content/plugins/tailors-online/public/js/sticky-kit3c94.js?ver=2.1.0'></script>
  <script type='text/javascript'>
  /* <![CDATA[ */
  var wp_localize_tailors = {"ajaxurl":"http:\/\/www.codezel.com\/tailors-online\/wp-admin\/admin-ajax.php","confirm_garment_title":"Process order?","force_measurement":"","force_measurement_message":"Please add measurements before process this order.","confirm_garment_message":"Are you sure you want to process this order?"};
  /* ]]> */
  </script>
  <script type='text/javascript' src='/wp-content/plugins/tailors-online/public/js/main3c94.js?ver=2.1.0'></script>
  <script type='text/javascript' src='/wp-content/themes/tailors-online/js/jquery.flipster.min5152.js?ver=1.0'></script>
  <script type='text/javascript' src='/wp-content/themes/tailors-online/js/owl.carousel.min5152.js?ver=1.0'></script>
  <script type='text/javascript' src='/wp-content/plugins/unyson/framework/static/js/fw-form-helpersaead.js?ver=5.0.3'></script>
  <link rel='https://api.w.org/' href='/wp-json/index.html' />
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../xmlrpc0db0.html?rsd" />
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wp-includes/wlwmanifest.xml" /> 
  <meta name="generator" content="WordPress 5.0.3" />
  <meta name="generator" content="WooCommerce 3.5.4" />
  <link rel="canonical" href="index.html" />
  <link rel='shortlink' href='../index0735.html?p=18' />
  <link rel="alternate" type="application/json+oembed" href="/wp-json/oembed/1.0/embed139d.json?url=http%3A%2F%2Fwww.codezel.com%2Ftailors-online%2Fcustomizer%2F" />
  <link rel="alternate" type="text/xml+oembed" href="/wp-json/oembed/1.0/embed152a?url=http%3A%2F%2Fwww.codezel.com%2Ftailors-online%2Fcustomizer%2F&amp;format=xml" />
  <noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
        <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
    
            <!-- Customizer page head end --------------------------------------------------------->
</head>
	
<body class="page-template-default page page-id-18 vc_not_used subheader-disabled customizer-tailors-online woocommerce-no-js">
           
    <!--customizer page body start------------------------------------------------------------------------>
  <script type="text/javascript">
    var c = document.body.className;
    c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
    document.body.className = c;
</script>
<script type='text/javascript' src='/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min44fd.js?ver=2.70'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/tailors-online\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/tailors-online\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"http:\/\/www.codezel.com\/tailors-online\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.mine248.js?ver=3.5.4'></script>
<script type='text/javascript' src='/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min6b25.js?ver=2.1.4'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/tailors-online\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/tailors-online\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.mine248.js?ver=3.5.4'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/tailors-online\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/tailors-online\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_3c3a19623df07f646dcb624f6666d46c","fragment_name":"wc_fragments_3c3a19623df07f646dcb624f6666d46c"};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.mine248.js?ver=3.5.4'></script>
<script type='text/javascript' src='/wp-content/themes/tailors-online/js/vendor/bootstrap.min5152.js?ver=1.0'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var scripts_vars = {"ajaxurl":"http:\/\/www.codezel.com\/tailors-online\/wp-admin\/admin-ajax.php","sticky_header":""};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/themes/tailors-online/js/tailors_online_callbacks5152.js?ver=1.0'></script>
<script type='text/javascript' src='/wp-content/themes/tailors-online/js/vendor/modernizr-2.8.3-respond-1.4.2.min5152.js?ver=1.0'></script>
<script type='text/javascript' src='/wp-includes/js/wp-embed.minaead.js?ver=5.0.3'></script>
<!--customizer page body end------------------------------------------------------------------------>
    
    
    <!--[if lt IE 9]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
            <div id="tg-wrapper" class="tg-wrapper tg-haslayout">
              <!--header start-->
              <%- include header.ejs %>
              <!--header end-->

              <div class="tg-innerpagebanner">
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                             <ol class="tg-breadcrumb">
                                                        <li class="first-item">
                                                            <a href="../index.html">Homepage</a></li>
                                                                                        <li class="last-item">Customizer</li>
                                        </ol>
                    </div>
                  </div>
                </div>
              </div>
              
                    <main id="tg-main" class="tg-main tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="main-page-wrapper tg-haslayout exclude-sidebar"><div class="cus-page-wrapper">
        <div class="tg-column-full">
          <div id="tg-content" class="tg-content">
                <div class="tg-customizegarments">
                    <form class="tg-formcustomorder wp-customizer-form">
                      <div class="tg-customordertabs steps-main-wrapper">
                  <div id="tg-stickyheader" class="tg-stickyheader steps-next-prev-buttons">
                    <a href="javascript:;" id="btnMoveLeftTab" class="tg-btnround tg-btnprevious steps-prev"><span class='fa fa-angle-left'></span></a> 
                    <a href="javascript:;" id="btnMoveRightTab" class="tg-btnround tg-btnnext steps-next"><span class='fa fa-angle-right'></span></a> 
                    <a href="javascript:;" id="tg-btnfinish" class="tg-btnround tg-btnnext tg-btnfinish add-to-cart-order"> Finish</a>
                    
                                <ul class="tg-customizeordernav steps-nav">
                      <li class="tab-status cus-active" data-step-count="first-step"><a data-step="step-style" href="#step-style"><span>Style</span></a></li>
                        
                          <li class="tab-status" data-step-count="last-step"><a data-step-count="last-step" data-step="step-1" href="#step-1" ><span>Shirt</span></a></li>
                          <li class="tab-status" data-step-count="last-step"><a data-step-count="last-step" data-step="step-3" href="#step-3" ><span>Fabric</span></a></li>
       
                        </ul>
                              </div>
                  <div class="steps-content-wrap">
                    <div id="step-style" class="tg-stepcontent step-active">
                      <fieldset class="tg-formstepone tg-fittingstep">
                                        <div class="tg-descriptionbox">
                                              <div class="tg-title">
                              <h2>Customize Your Shirt</h2>
                            </div>
                                                                <div class="tg-description">
                              <p>User can customize their shirts based on your requirements.please follow the following steps(graphical) to customize clothes.</p>
                            </div>
                                          </div>
                        <div class="cus-suitstyles">
                                            <span class="tg-radio tg-suitstyle tg-suitstyleclassic">
                              <input type="radio" id="tg-radio-96719" name="customizer[style]" value="Classic" checked="checked">
                              <label for="tg-radio-96719">
                                <span>Classic </span>
                                <img src="/wp-content/uploads/2017/04/Shirt-Classic.png" alt="Customizer Style">
                              </label>
                            </span>
                                              <span class="tg-radio tg-suitstyle tg-suitstyleclassic">
                              <input type="radio" id="tg-radio-85534" name="customizer[style]" value="Slim" checked="checked">
                              <label for="tg-radio-85534">
                                <span>Slim </span>
                                <img src="/wp-content/uploads/2017/04/Shirt-Slim.png" alt="Customizer Style">
                              </label>
                            </span>
                                          </div>
                      </fieldset>
                    </div>
                                    <div id="step-1" class="tg-stepcontent">
                          <input type="hidden" name="customizer[apparels][shirt][title]" value="Shirt">
                          <!-- Apparel Front Start-->
                          <div class="tg-coatfrontbox">
                                                <div class="tg-stickybox cus-col-3">
                            <div class="tg-suitviewbox tg-suitfront">
                                                      <figure class="tg-suitpart tg-suitbg">
                                <img src="/wp-content/uploads/2017/04/Front-Borders.png" >
                                </figure>
                                                                            <figure class="tg-suitpart " style="z-index:2">
                                <img src="/wp-content/uploads/2017/04/colar_standard.png" id="asset-collar">
                                </figure>
                                                    <figure class="tg-suitpart " style="z-index:3">
                                <img src="/wp-content/uploads/2017/04/button_4.png" id="asset-buttons">
                                </figure>
                                                    <figure class="tg-suitpart " style="z-index:4">
                                <img src="/wp-content/uploads/2017/04/pocket.png" id="asset-pocket">
                                </figure>
                                                    <figure class="tg-suitpart " style="z-index:5">
                                <img src="/wp-content/uploads/2017/04/Front-Front-facing.png" id="asset-facing">
                                </figure>
                                                </div>
                            </div>
                                                <div class="cus-col-9">
                                                  <fieldset class="tg-collar">
                                <div class="tg-customcontent">
                                <div class="tg-lapelscontent">
                                  <input type="hidden" name="customizer[apparels][shirt][data][collar][label]" value="Collar">
                                                              <div class="tg-title">
                                    <h2>Collar</h2>
                                    </div>
                                                                                        <div class="tg-description">
                                    <p>user can customize their collar based on their requirements or choice.we have no of collection for choosing collar.like:standard,buttons own and windsor</p>
        
                                    </div>
                                                          </div>
                                <div class="tg-collar">
                                                            <span data-id="1" data-balloon-length="medium" data-balloon="Collar type standard " data-balloon-pos="up" class="medium tg-radio tg-standard" data-asset="collar">
                                    <input type="radio" checked=checked id="tg-radio-52829" name="customizer[apparels][shirt][data][collar][value]" value="Standard">
                                    <label for="tg-radio-52829">
                                      <figure><img src="/wp-content/uploads/2018/01/shirts-4.png" data-id="1" data-parent="http://www.codezel.com/tailors-online/wp-content/uploads/2017/04/colar_standard.png" alt="standard"></figure>
                                      <span>Standard</span>
                                    </label>
                                    </span>
                                                            <span data-id="2" data-balloon-length="medium" data-balloon="Collar Type Buttons Own" data-balloon-pos="up" class="medium tg-radio tg-buttonsown" data-asset="collar">
                                    <input type="radio"  id="tg-radio-62699" name="customizer[apparels][shirt][data][collar][value]" value="Buttons Own">
                                    <label for="tg-radio-62699">
                                      <figure><img src="/wp-content/uploads/2018/01/shirts-5.png" data-id="2" data-parent="http://www.codezel.com/tailors-online/wp-content/uploads/2017/04/colar_buttondown.png" alt="buttons-own"></figure>
                                      <span>Buttons Own</span>
                                    </label>
                                    </span>
                                                            <span data-id="3" data-balloon-length="medium" data-balloon="Collar Type Windsor" data-balloon-pos="up" class="medium tg-radio tg-windsor" data-asset="collar">
                                    <input type="radio"  id="tg-radio-34919" name="customizer[apparels][shirt][data][collar][value]" value="Windsor">
                                    <label for="tg-radio-34919">
                                      <figure><img src="/wp-content/uploads/2018/01/shirts-6.png" data-id="3" data-parent="http://www.codezel.com/tailors-online/wp-content/uploads/2017/04/colar_windsor.png" alt="windsor"></figure>
                                      <span>Windsor</span>
                                    </label>
                                    </span>
                                                        </div>
                                </div>
                              </fieldset>
                                                  <fieldset class="tg-buttons">
                                <div class="tg-customcontent">
                                <div class="tg-lapelscontent">
                                  <input type="hidden" name="customizer[apparels][shirt][data][buttons][label]" value="Buttons">
                                                              <div class="tg-title">
                                    <h2>Buttons</h2>
                                    </div>
                                                                                        <div class="tg-description">
                              <p>in daily life different different tailor can use different different button for shirts .here tailor also provide no of button type for customize shirts based on user requirements</p>        
                                    </div>
                                                          </div>
                                <div class="tg-buttons">
                                                            <span data-id="1" data-balloon-length="medium" data-balloon="Button Style 1" data-balloon-pos="up" class="medium tg-radio tg-buttonstyle1" data-asset="buttons">
                                    <input type="radio" checked=checked id="tg-radio-92290" name="customizer[apparels][shirt][data][buttons][value]" value="Button Style 1">
                                    <label for="tg-radio-92290">
                                      <figure><img src="/wp-content/uploads/2018/01/shirts-10.png" data-id="1" data-parent="http://www.codezel.com/tailors-online/wp-content/uploads/2017/04/button_4.png" alt="button-style-1"></figure>
                                      <span>Button Style 1</span>
                                    </label>
                                    </span>
                                                            <span data-id="2" data-balloon-length="medium" data-balloon="Button Style 2" data-balloon-pos="up" class="medium tg-radio tg-buttonstyle2" data-asset="buttons">
                                    <input type="radio"  id="tg-radio-50420" name="customizer[apparels][shirt][data][buttons][value]" value="Button Style 2">
                                    <label for="tg-radio-50420">
                                      <figure><img src="/wp-content/uploads/2018/01/shirts-9.png" data-id="2" data-parent="http://www.codezel.com/tailors-online/wp-content/uploads/2017/04/button_3.png" alt="button-style-2"></figure>
                                      <span>Button Style 2</span>
                                    </label>
                                    </span>
                                                            <span data-id="3" data-balloon-length="medium" data-balloon="Button Style 3" data-balloon-pos="up" class="medium tg-radio tg-buttonstyle3" data-asset="buttons">
                                    <input type="radio"  id="tg-radio-97823" name="customizer[apparels][shirt][data][buttons][value]" value="Button Style 3">
                                    <label for="tg-radio-97823">
                                      <figure><img src="/wp-content/uploads/2018/01/shirts-8.png" data-id="3" data-parent="http://www.codezel.com/tailors-online/wp-content/uploads/2017/04/button_2.png" alt="button-style-3"></figure>
                                      <span>Button Style 3</span>
                                    </label>
                                    </span>
                                                            <span data-id="4" data-balloon-length="medium" data-balloon="Button Style 4" data-balloon-pos="up" class="medium tg-radio tg-buttonstyle4" data-asset="buttons">
                                    <input type="radio"  id="tg-radio-50250" name="customizer[apparels][shirt][data][buttons][value]" value="Button Style 4">
                                    <label for="tg-radio-50250">
                                      <figure><img src="/wp-content/uploads/2018/01/shirts-7.png" data-id="4" data-parent="http://www.codezel.com/tailors-online/wp-content/uploads/2017/04/button_1.png" alt="button-style-4"></figure>
                                      <span>Button Style 4</span>
                                    </label>
                                    </span>
                                                        </div>
                                </div>
                              </fieldset>
                                                  <fieldset class="tg-pocket">
                                <div class="tg-customcontent">
                                <div class="tg-lapelscontent">
                                  <input type="hidden" name="customizer[apparels][shirt][data][pocket][label]" value="Pocket">
                                                              <div class="tg-title">
                                    <h2>Pocket</h2>
                                    </div>
                                                                                        <div class="tg-description">
      <p>some of people like pocket on a shirts and some of don't like pocket.so based on user requirement portal can provide different pocket facility to customize their shirts.</p>        
                                    </div>
                                                          </div>
                                <div class="tg-pocket">
                                                            <span data-id="1" data-balloon-length="medium" data-balloon="Single Pocket" data-balloon-pos="up" class="medium tg-radio tg-singlepocket" data-asset="pocket">
                                    <input type="radio" checked=checked id="tg-radio-25287" name="customizer[apparels][shirt][data][pocket][value]" value="Single Pocket">
                                    <label for="tg-radio-25287">
                                      <figure><img src="/wp-content/uploads/2018/01/shirts-2.png" data-id="1" data-parent="http://www.codezel.com/tailors-online/wp-content/uploads/2017/04/pocket.png" alt="single-pocket"></figure>
                                      <span>Single Pocket</span>
                                    </label>
                                    </span>
                                                            <span data-id="2" data-balloon-length="medium" data-balloon="Two Pockets" data-balloon-pos="up" class="medium tg-radio tg-twopockets" data-asset="pocket">
                                    <input type="radio"  id="tg-radio-22235" name="customizer[apparels][shirt][data][pocket][value]" value="Two Pockets">
                                    <label for="tg-radio-22235">
                                      <figure><img src="/wp-content/uploads/2018/01/shirts-1.png" data-id="2" data-parent="http://www.codezel.com/tailors-online/wp-content/uploads/2017/04/two_pockets.png" alt="two-pockets"></figure>
                                      <span>Two Pockets</span>
                                    </label>
                                    </span>
                                                            <span data-id="3" data-balloon-length="medium" data-balloon="No Pockets" data-balloon-pos="up" class="medium tg-radio tg-nopockets" data-asset="pocket">
                                    <input type="radio"  id="tg-radio-66359" name="customizer[apparels][shirt][data][pocket][value]" value="No Pockets">
                                    <label for="tg-radio-66359">
                                      <figure><img src="/wp-content/uploads/2018/01/no-pocket.png" data-id="3" data-parent="http://www.codezel.com/tailors-online/wp-content/uploads/2017/04/no-pocket.png" alt="no-pockets"></figure>
                                      <span>No Pockets</span>
                                    </label>
                                    </span>
                                                        </div>
                                </div>
                              </fieldset>
                                                  <fieldset class="tg-facing">
                                <div class="tg-customcontent">
                                <div class="tg-lapelscontent">
                                  <input type="hidden" name="customizer[apparels][shirt][data][facing][label]" value="Facing">
                                                              <div class="tg-title">
                                    <h2>Facing</h2>
                                    </div>
                                                                                        <div class="tg-description">
     <p>some of people want facing for buttons and some of don't want facing so based on user requirements portal can provide facing options.</p>        
                                    </div>
                                                          </div>
                                <div class="tg-facing">
                                                            <span data-id="1" data-balloon-length="medium" data-balloon="With Facing" data-balloon-pos="up" class="medium tg-radio tg-facing" data-asset="facing">
                                    <input type="radio" checked=checked id="tg-radio-4957" name="customizer[apparels][shirt][data][facing][value]" value="Facing">
                                    <label for="tg-radio-4957">
                                      <figure><img src="/wp-content/uploads/2018/01/shirts-3.png" data-id="1" data-parent="http://www.codezel.com/tailors-online/wp-content/uploads/2017/04/Front-Front-facing.png" alt="facing"></figure>
                                      <span>Facing</span>
                                    </label>
                                    </span>
                                                            <span data-id="2"  class="medium tg-radio tg-nofacing" data-asset="facing">
                                    <input type="radio"  id="tg-radio-41255" name="customizer[apparels][shirt][data][facing][value]" value="No Facing">
                                    <label for="tg-radio-41255">
                                      <figure><img src="/wp-content/uploads/2018/01/no-facing.png" data-id="2" data-parent="http://www.codezel.com/tailors-online/wp-content/uploads/2017/04/no_front_facing.png" alt="no-facing"></figure>
                                      <span>No Facing</span>
                                    </label>
                                    </span>
                                                        </div>
                                </div>
                              </fieldset>
                                                </div>
                          </div>
                          <!-- Apparel Front End-->
									
									<!-- Apparel Back Start-->

                  <div class="tg-coatbackbox">
                    <div class="cus-col-3 tg-stickybox">
<div class="tg-suitviewbox tg-suitback">
                                            </div>
</div>
                    <div class="cus-col-9">
                    </div>
</div>
<!-- Apparel Back End-->
</div>
        <div id="step-3" class="tg-stepcontent">
<input type="hidden" name="customizer[apparels][lining][title]" value="Lining">
<!-- Apparel Front Start-->
<div class="tg-coatfrontbox">
                    <div class="tg-stickybox cus-col-3">
<div class="tg-suitviewbox tg-suitfront">
                          <figure class="tg-suitpart tg-suitbg">
    <img src="/wp-content/uploads/2017/04/img-01-1.jpg" >
    </figure>
                                                <figure class="tg-suitpart " style="z-index:2">
    <img src="/wp-content/uploads/2017/04/img-01-1.jpg" id="asset-lining">
    </figure>
                    </div>
</div>
                    <div class="cus-col-9">
                      <fieldset class="tg-lining">
    <div class="tg-customcontent">
    <div class="tg-lapelscontent">
      <input type="hidden" name="customizer[apparels][lining][data][lining][label]" value="Lining">
                                  <div class="tg-title">
        <h2>Lining</h2>
        </div>
                                                            <div class="tg-description">
    <p>all of the customization process is one side and fabric selection process is one side bcz fabric selection process is most important for all user .so portal can provide this facility to select fabric from our collection</p>
        </div>
                              </div>
    <div class="tg-lining">
                                <span data-id="1" data-balloon-length="medium" data-balloon="Tailors Choice" data-balloon-pos="up" class="medium tg-radio tg-tailorschoice" data-asset="lining">
        <input type="radio" checked=checked id="tg-radio-89883" name="customizer[apparels][lining][data][lining][value]" value="Tailors Choice">
        <label for="tg-radio-89883">
          <figure><img src="/wp-content/uploads/2017/04/img-01-1.jpg" data-id="1" data-parent="http://www.codezel.com/tailors-online/wp-content/uploads/2017/04/img-01-1.jpg" alt="tailors-choice"></figure>
          <span>Tailors Choice</span>
        </label>
        </span>
                                <span data-id="2" data-balloon-length="medium" data-balloon="Deep White Lining" data-balloon-pos="up" class="medium tg-radio tg-deepwhitelining" data-asset="lining">
        <input type="radio"  id="tg-radio-90254" name="customizer[apparels][lining][data][lining][value]" value="Deep White Lining">
        <label for="tg-radio-90254">
          <figure><img src="/wp-content/uploads/2017/04/img-03-1.jpg" data-id="2" data-parent="http://www.codezel.com/tailors-online/wp-content/uploads/2017/04/img-03-1.jpg" alt="deep-white-lining"></figure>
          <span>Deep White Lining</span>
        </label>
        </span>
                                <span data-id="3" data-balloon-length="medium" data-balloon="Light Purple Lining" data-balloon-pos="up" class="medium tg-radio tg-lightpurplelining" data-asset="lining">
        <input type="radio"  id="tg-radio-62609" name="customizer[apparels][lining][data][lining][value]" value="Light Purple Lining">
        <label for="tg-radio-62609">
          <figure><img src="/wp-content/uploads/2017/04/img-10.jpg" data-id="3" data-parent="http://www.codezel.com/tailors-online/wp-content/uploads/2017/04/img-10.jpg" alt="light-purple-lining"></figure>
          <span>Light Purple Lining</span>
        </label>
        </span>
                                <span data-id="4" data-balloon-length="medium" data-balloon="Salmon Plain Lining" data-balloon-pos="up" class="medium tg-radio tg-salmonplainlining" data-asset="lining">
        <input type="radio"  id="tg-radio-83894" name="customizer[apparels][lining][data][lining][value]" value="Salmon Plain Lining">
        <label for="tg-radio-83894">
          <figure><img src="/wp-content/uploads/2017/04/img-06-1.jpg" data-id="4" data-parent="http://www.codezel.com/tailors-online/wp-content/uploads/2017/04/img-06-1.jpg" alt="salmon-plain-lining"></figure>
          <span>Salmon Plain Lining</span>
        </label>
        </span>
                                <span data-id="5" data-balloon-length="medium" data-balloon="Red Plain Lining" data-balloon-pos="up" class="medium tg-radio tg-redplainlining" data-asset="lining">
        <input type="radio"  id="tg-radio-81119" name="customizer[apparels][lining][data][lining][value]" value="Red Plain Lining">
        <label for="tg-radio-81119">
          <figure><img src="/wp-content/uploads/2017/04/img-05-1.jpg" data-id="5" data-parent="http://www.codezel.com/tailors-online/wp-content/uploads/2017/04/img-05-1.jpg" alt="red-plain-lining"></figure>
          <span>Red Plain Lining</span>
        </label>
        </span>
                                <span data-id="6" data-balloon-length="medium" data-balloon="Silver Plain Lining" data-balloon-pos="up" class="medium tg-radio tg-silverplainlining" data-asset="lining">
        <input type="radio"  id="tg-radio-44493" name="customizer[apparels][lining][data][lining][value]" value="Silver Plain Lining">
        <label for="tg-radio-44493">
          <figure><img src="/wp-content/uploads/2017/04/img-09-1.jpg" data-id="6" data-parent="http://www.codezel.com/tailors-online/wp-content/uploads/2017/04/img-09-1.jpg" alt="silver-plain-lining"></figure>
          <span>Silver Plain Lining</span>
        </label>
        </span>
                                <span data-id="7" data-balloon-length="medium" data-balloon="Charcoal Plain Lining" data-balloon-pos="up" class="medium tg-radio tg-charcoalplainlining" data-asset="lining">
        <input type="radio"  id="tg-radio-40875" name="customizer[apparels][lining][data][lining][value]" value="Charcoal Plain Lining">
        <label for="tg-radio-40875">
          <figure><img src="/wp-content/uploads/2017/04/img-08-1.jpg" data-id="7" data-parent="http://www.codezel.com/tailors-online/wp-content/uploads/2017/04/img-08-1.jpg" alt="charcoal-plain-lining"></figure>
          <span>Charcoal Plain Lining</span>
        </label>
        </span>
                                <span data-id="8" data-balloon-length="medium" data-balloon="Ivory Plain Lining" data-balloon-pos="up" class="medium tg-radio tg-ivoryplainlining" data-asset="lining">
        <input type="radio"  id="tg-radio-83900" name="customizer[apparels][lining][data][lining][value]" value="Ivory Plain Lining">
        <label for="tg-radio-83900">
          <figure><img src="/wp-content/uploads/2017/04/img-02-1.jpg" data-id="8" data-parent="http://www.codezel.com/tailors-online/wp-content/uploads/2017/04/img-02-1.jpg" alt="ivory-plain-lining"></figure>
          <span>Ivory Plain Lining</span>
        </label>
        </span>
                            </div>
    </div>
  </fieldset>
                    </div>
</div>
<!-- Apparel Front End-->

<!-- Apparel Back Start-->
<div class="tg-coatbackbox">
                    <div class="cus-col-3 tg-stickybox">
<div class="tg-suitviewbox tg-suitback">
                                            </div>
</div>
                    <div class="cus-col-9">
                    </div>
</div>
<!-- Apparel Back End-->
</div>
  </div>
</div>
<div class="add-to-cart-order elm-display-none">
<input type="hidden" name="customizer[product_id]" value="64" />
<input type="hidden" name="customizer[customizer_id]" value="19" />
<input type="hidden" id="customizer_request" name="customizer_request" value="fb55e63ec6" />
<input type="hidden" name="_wp_http_referer" value="/tailors-online/customizer/?pid=64" />				
</div>
</form>
</div>
</div>
</div>
</div>

</div>            </div>
</div>
</main>

<!-- <footer id="tg-footer" class="tg-footer tg-haslayout">
<div class="tg-footerbar">
<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <span class="tg-copyright">
2017 All Rights Reserved &copy; Tailor Online									</span>
                          </div>
</div>
</div>
</div>
</footer> -->
<%- include footer.ejs %>

</div>

</body>
<!-- Mirrored from www.codezel.com/tailors-online/customizer/?pid=64 by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Feb 2019 06:07:41 GMT -->
</html>
